#Los operadores l칩gicos

Recordemos los operadores de comparaci칩n

![img1](https://facialix.com/images/cond.png)

y veamos algunos ejemplos de los operadores logicos en acci칩n

![img2](https://facialix.com/images/logicos.png)

**En este ejercicio debes mostrar el valor que se obtiene de las sentencias al ejecutarlas en codigo y explicarlas:**

1) **not true**

In [13]:

not True

False

Al colocar not ya estamos declarando que ese True es falso.

2) **not (1+2 != 3)**

In [16]:

not(1+2 !=3)

True

En la operacion de lo que esta entre parentesis indicamos que hay una diferencia
lo cual no es verdad pero al colocar antes el not nos dice que esto es verdadoro por que omitimos el diferencial que se 
encuentra entre parentesis.

3) **x = (len("jugar") > 5) and (len("jugar") < 10)**

In [17]:

x = (len("jugar") > 5) and (len("jugar") < 10)
x

False

Es FALSE debido a que en la primera operacion es FALSE Y en la segunda es TRUE.

FALSE AND TRUE = FALSE 

游둜 ...

4) **"alto"[2] == "t" and x**

In [18]:

"alto"[2] == "t" and x

False

En la primera operacion nos indica que es TRUE ya que es igual t pero nos quiere indicar que x es igual por lo que esto es FALSE. 


TRUE AND FALSE = FALSE 

游둜 ...

5) **842913%10 != 3 and len("caf칠") == 3**

In [6]:
#Escribe el codigo aqu칤


842913%10!= 3 and len("cafe") == 3

False

En la primera operacion es TRUE por que si hay una diferencia y en la segunda es FALSE por que no es correcta la longitud. 

TRUE AND FALSE= FALSE 

游둜 ...

6) **0!=0 or "a" < "y"**

In [7]:
#Escribe el codigo aqu칤

0!=0 or "a" < "y"

True

En la primera operacion es FALSE debido a que no es diferente y en la segunda es TRUE.

FALSE OR TRUE = TRUE 

游둜 ...

7) **True or int("50") >= 50**

In [8]:
#Escribe el codigo aqu칤

True or int("50")>=50

True

En ambas operaciones nos da TRUE.
 
TRUE OR TRUE = TRUE 

游둜 ...

8) **edad = 20**

**not(x) or edad%2==0**

In [15]:
#Escribe el codigo aqu칤

edad = 20
not(x) or edad%2 == 0

True

En la primera operacion el resultado es TRUE y en la segunda es FALSE pero en OR 

TRUE OR FALSE = TRUE 

游둜 ...

9) **es_cliente = False**

**not (es_cliente and not(edad < 18))**

In [12]:
#Escribe el codigo aqu칤

es_cliente = False

not (es_cliente and not(edad < 18))

True

Al realizar las operaciones por separado y dentro de la opeeracion LO que se encuentra en los parentesis nos da TRUE. 
FINALMENTE EVALUAMOS EL TRUE de los parentesis con el FALSE  y nos da como resultado TRUE. 

FALSE AND TRUE = TRUE


游둜 ...

###Recursos extra para estudiar y ejercios

- Video corto de Coursera: [Tablas de verdad y 치lgebra booleana](https://www.coursera.org/lecture/programacion-python/tablas-de-verdad-y-algebra-booleana-JJs0E)
- Articulo corto de [Tablas de la verdad](https://www.ecured.cu/Tablas_de_la_verdad)
- Ejercicios practicos en portal de [Tablas de Verdad](https://www.edu.xunta.gal/espazoAbalar/sites/espazoAbalar/files/datos/1493724904/contido/tablas_de_verdad.html)
- Gu칤a de [Ejercicios de L칩gica](https://www.fing.edu.uy/tecnoinf/mvd/cursos/mdl1/material/pra/buceo_noct/mdl1-pr-logica.pdf)