Crear las siguientes variables.

* Una variable donde asignes el nombre de una película
* Una variable que contenga los primeros 4 decimales de PI
* Una variable que contenga la cantidad de mascotas que tienes

In [14]:
Pelicula = "Uncharted"

In [15]:
Pi = 3.1416

In [16]:
Mascotas = 2

Imprime los siguientes mensajes utilizando format de tal manera que el resultado sea parecido a lo siguiente:

```bash
La película que elegi es Harry Potter
````

```bash
El valor de pi es 3.1416
````

```bash
La cantidad de mascotas que tengo son 2
````

In [18]:
print ("La pelicula que elegi es", format(Pelicula))

La pelicula que elegi es Uncharted

In [19]:
print ("El valor de pi es", format(Pi))

El valor de pi es 3.1416

In [20]:
print ("La cantidad de mascotas que tengo son", format(Mascotas))

La cantidad de mascotas que tengo son 2

Crea una tabla utilizando f strings donde salgan 3 empleos aleatorios, sus respectivos sueldos y el país donde radican.

In [42]:
empleo1 = "programador"
empleo2 = "medico"
empleo3 = "enfermero"

sueldo1 = "80000"
sueldo2 = "50000"
sueldo3 = "30000"

pais1 = "Mexico"
pais2 = "Cuba"
pais3 = "España"

In [48]:
print(f"{empleo1:12} | {sueldo1:5} | {pais1}")
print(f"{empleo2:12} | {sueldo2:5} | {pais2}")
print(f"{empleo3:12} | {sueldo3:5} | {pais3}")

programador  | 80000 | Mexico
medico       | 50000 | Cuba
enfermero    | 30000 | España

Desarrolla un programa donde pida 2 números y devuelva la suma, resta, multiplicación y división de los mismos.

In [10]:
print ("ingrese numero1") 
numero1 = float(input())
print ("ingrese numero2")
numero2 = float(input())

suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2

print ("la suma es:", suma)
print ("la resta es:", resta)
print ("la multiplicacion es:", multiplicacion)
print ("la division es:", division)

ingrese numero1

ValueError: could not convert string to float: ''

Crea una lista con 4 colores y despues ejecuta las siguientes lineas de código:

In [27]:
colores = ["verde", "rojo", "azul", "amarillo"]

In [28]:
print(f"El color 0 es {colores[0]}")
print(f"El color 1 es {colores[1]}")
print(f"El color 2 es {colores[2]}")
print(f"El color 3 es {colores[3]}")

El color 0 es verde
El color 1 es rojo
El color 2 es azul
El color 3 es amarillo

Crea una lista con 4 ciudades y utilizando Slice, que aparezcan las 2 de enmedio

In [29]:
ciudades = ["CDMX", "Merida", "Oaxaca", "Cancun"]

In [33]:
ciudades [1:3]

['Merida', 'Oaxaca']

De nuestra lista de ciudades, imprime la ultima ciudad

In [34]:
ciudades[-1]

'Cancun'

Agrega los siguientes datos a tu lista de colores: "Morado", "Rosa"

In [35]:
colores.append("Morado")
colores.append("Rosa")

In [36]:
colores

['verde', 'rojo', 'azul', 'amarillo', 'Morado', 'Rosa']

La siguiente lista contiene las alturas de 15 niños de cuarto grado, sacr el promedio de alturas.

In [52]:
alturas = [1.35, 1.56, 1.42, 1.22, 1.37, 1.23, 1.40, 1.25, 1.22, 1.37, 1.30, 1.15, 1.24, 1.31, 1.17]

In [53]:
promedio = sum(alturas)/len(alturas)

In [54]:
promedio

1.304

Obten la altura mas chica del grupo

In [55]:
min(alturas)

1.15

Obten la altura más alta del grupo

In [56]:
max(alturas)

1.56

Crea un diccionario de perros, donde lleva 2 claves: Nombre y Raza

In [57]:
perros =  {"Nombre:" "Falcon", "Raza:" "Labrador"}

In [58]:
perros

{'Nombre:Falcon', 'Raza:Labrador'}

Agrega una clave llamada Edad a nuestro diccionario y asignale un valor

In [71]:
perros['Edad'] = 'diez'

TypeError: 'set' object does not support item assignment

Crea 2 diccionarios de perro más incluyendo el valor edad.

In [76]:
perros2 =  {"Nombre:" "Morlann", "Raza:" "Labrador", "Edad:" "5"}

In [77]:
perros2

{'Edad:5', 'Nombre:Morlann', 'Raza:Labrador'}

In [78]:
perros3 =  {"Nombre:" "Shoolo", "Raza:" "Gran danes", "Edad:" "4"}

In [79]:
perros3

{'Edad:4', 'Nombre:Shoolo', 'Raza:Gran danes'}

Crea una lista llamada mascotas y dentro de los corchetes, agrega los 3 diccionarios

In [82]:
Mascotas = [perros, perros2, perros3]

In [83]:
Mascotas

[{'Edad:5', 'Nombre:Morlann', 'Raza:Labrador'},
 {'Edad:5', 'Nombre:Morlann', 'Raza:Labrador'},
 {'Edad:4', 'Nombre:Shoolo', 'Raza:Gran danes'}]